html, body {
    margin: 0px;
    padding: 0px;
    color: #414a60;
    font-size: 14px;
}

body {
    background-color: #f6f6f8;
    min-width: 1184px; /*很重要，使header的背景在网页缩小时不会出现不能横向覆盖整个宽度的状况*/
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #414a60;
}

div, ul, li, a, p, dl, dd, span, img, dt，label {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

#wrap {
    min-width: 100%;
    position: relative;
    overflow: visible;
}

#header {
    background: #202329;
    width: 100%;
    height: 49px;
    position: relative;
}

#header a {
    color: #fff;
}

#header a:hover {
    color: #00c2b3;
}

#header a:active {
    color: #00c2b3;
}

.inner {
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    margin: 0px auto;
    /*max-width: 1184px;*/
    width: 1184px;
    position: relative;
}

#logo {
    float: left;
    height: 49px;
    line-height: 49px;
    color: #414a60;
}

#logo a {
    display: block;
    width: 110px;
    height: 36px;
    background: url("logo-2x.png") no-repeat 5px 14px;
    background-size: 105px 19px;
}

#logo span {
    display: none;
}

#nav, #user-nav {
    float: left;
    height: 49px;
    margin-left: 15px;
    line-height: 49px; /*为什么会有上下居中功能呢？*/
    font-size: 0;

}

#nav, #user-nav a {

}

#user-nav {
    float: right;
}

#nav ul, #user-nav ul {
    display: inline-block;
    vertical-align: top;
}


#user-nav btns {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0px 14px;
}

#nav li, #user-nav li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin: 0px 14px;
}

.nav-school-new::after {
    position: absolute;
    content: 'New';
    color: #fff;
    background: #ef505e;
    font-size: 12px;
    height: 14px;
    width: 30px;
    line-height: 13px;
    text-align: center;
    top: 8px;
    right: -24px;
    border-radius: 7px;
}

.user-nav-find-job::after {
    content: "hot";
    background-color: #ef505e;
    position: absolute;
    color: #fff;
    font-size: 12px;
    height: 14px;
    line-height: 13px;
    width: 30px;
    text-align: center;
    top: 8px;
    right: -24px;
    border-radius: 7px;
}

.btn {
    display: inline-block;
    min-width: 112px; /*有无此项，效果一样。那么，这个指令，存在的意义是什么？*/
    border: 1px solid #00c2b3;
}

#user-nav .btns .btn-outline {
    border-radius: 15px;
    height: 23px;
    min-width: 0px;
    line-height: 23px;
    text-align: center;
    font-size: 13px;
    padding: 0px 9px 0px 11px;
    margin-left: 17px;
}

.btn-outline {
    background-color: #202329;
}

.link-sign-resume {
    display: inline-block;
    position: relative;
    height: 23px;
    min-width: 0px;
    margin-left: 20px;
    font-size: 14px;
}

.user-nav-employ {
    display: inline-block;
    position: relative;
    height: 23px;
    min-width: 0px;
    margin-left: 25px;
    font-size: 14px;
}

/*聊天框容器*/
.chat-wrap {
    width: 1000px;
    height: 700px;
    margin: 30px auto;

    background-color: #ffffff;
}

/*用户列表*/
.user-list {
    width: 300px;
    height: 100%;
    float: left;
    border-right: 2px solid #e0e0e0;
}

.user-list .text {
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    background-color: #fff;
    color: #9fa3b0;
}

.users li {
    /*width: 100%;        !*再加上padding，超出父元素范围了*!*/
    height: 50px;
    padding: 15px 20px 15px 30px;
}

.users .avatar {
    width: 46px;
    height: 46px;
    float: left;
}

.users .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.users .employee-info {
    width: 80%;
    position: relative;
    left: 10px;
}

.users .employee-info .time {
    float: right;
    font-size: 12px;
    color: #979a91;
}

.users .employee-info p {
    line-height: 38px;
    font-size: 12px;
    color: #979a91;
}

.vline {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    background-color: #e0e0e0;
}

.user-list-v {
    margin: 0px 8px;
}

/*聊天框*/
.chat {
    height: 100%;
    /*width: auto;*/ /*使用这个值，chat会占据左边位置，虽然左边也看得到*/
    width: 696px; /*微调出来的数据，会因浏览器窗口尺寸收缩导致布局错乱吗？*/
    float: right;
}

.chat .text {
    height: 40px;
    line-height: 40px;
    /*padding-left: 30px;*/
    width: 100%;
    background-color: #fff;
    color: #9fa3b0;

    border-bottom: 2px solid #e0e0e0;
}

.chat .text span {
    display: inline-block;
    width: auto;
    height: 100%;
    margin-left: 10px;
    white-space: nowrap; /*若无这句，width太小时，所有span折行显示*/
    color: #9fa3b0;
}

.chat .text .icon-collect {
    display: inline-block;
    width: 15px;
    height: 16px;
    float: right;
    background-image: url("icons-chat-input.eba44c0a.png");
    background-position: 0px -175px;
    /*肉眼观察设置的对齐数据。float后仍然能使用position*/
    position: relative;
    top: 12px;
    right: 5px;

    cursor: pointer;
}

.job-info {
    width: 100%;
    height: 40px;
    line-height: 40px; /*垂直对齐，有效*/
    border-bottom: 2px solid #e0e0e0;
}

.job-info .job {
    margin-left: 10px;
}

.job-info .job-name {
    color: #62d5c8;
    margin-left: 10px;
    margin-right: 10px;
}

.job-info .download-text {
    float: right;
    margin-right: 10px;
}

.job-info .download-text .download-icon {
    display: inline-block;
    width: 18px;
    height: 19px;
    background-image: url("phone2x.e10d1025.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: contain;

    cursor: pointer;
}

/*消息列表*/
.message-record {
    width: auto;
    height: 440px;
    overflow: auto;
    border-bottom: 2px solid #e0e0e0;
}

.message-record .im-list {
    padding: 10px 30px;
}

.message-record .message {
    width: 60%;
    height: auto;
    margin-top: 40px;
    margin-left: 46px;

    position: relative;
}

.message-record .myself {
    float: right;
}

.message-record .myself .avatar {
    display: none;
}

.message-record .avatar {
    width: 46px;
    height: 46px;

    position: absolute;
    top: 0px;
    left: -60px;
}


.message-record .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.message-record .message .words {

    text-align: left;
    background-color: #62d5c8;
    color: #fff;

    padding: 10px 10px;

    border-radius: 10px;
}


.message-record .message .message-status {
    display: inline-block;
    width: 30px;
    height: 15px;
    top: 0px;
    left: 390px;

    background-image: url("sendstatus.d0a92d4b.png");
    background-repeat: no-repeat;
    background-position: -75px 0px;
    /*background-size: contain;*/ /*图片会消失，原因未知。*/
    background-size: cover;

    position: absolute;
}

.message-record .myself .message-status {
    display: inline-block;
    width: 30px;
    height: 15px;
    top: 0px;
    left: -39px;

    background-image: url("sendstatus.d0a92d4b.png");
    background-repeat: no-repeat;
    background-position: -75px 0px;
    /*background-size: contain;*/ /*图片会消失，原因未知。*/
    background-size: cover;

    position: absolute;
}

/*标签等工具栏*/
.chat-message-editor {
    width: 94%;
    padding: 0px 20px;
    /*上面两行实现同样间距。缺陷是，width不是100%*/
    height: 180px;
}

.chat-message-editor-inner {
    width: 100%;
    height: auto;
    position: relative;
}

.chat-message-editor .control-panel {
    width: 100%;
    height: 40px;
}

.chat-message-editor .control-icons {
    padding: 8px 0px; /*居中对齐。8=(40-23)/2*/
}

.chat-message-editor .control-icons a {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url("icons-chat-input.eba44c0a.png");
    background-repeat: no-repeat;
    margin-right: 20px;
    cursor: pointer;
}

.chat-message-editor .control-icons .icon-emoj {
    background-position: 0px 0px;
}

.chat-message-editor .control-icons .icon-words {
    background-position: 0px -35px;
}

.chat-message-editor .control-icons .icon-resume {
    background-position: 0px -70px;
    width: 20px;
}

.chat-message-editor .control-icons .icon-phone {
    background-position: 0px -105px;
    width: 20px;
}

.chat-message-editor .control-icons .icon-wechat {
    background-position: 0px -140px;
    width: 23px;
}


.chat-message-editor .message-box {
    width: 100%;
    height: 90px;

    outline: none;
}

.chat-message-editor .btn-send-sms {
    /*width: 95%;*/
    /*padding-right: 30px;*/
    /*上面两行实现子元素距离右边间距，实现方法不好。有其他方法吗？*/
    width: 100%;
    height: 50px;
    line-height: 40px;
    text-align: right;
    color: #d1d4db;
}

.chat-message-editor .btn-send-sms button {
    width: 80px;
    height: 30px;
    background-color: #fff;
    color: #d1d4db;
    border-radius: 15px;
    outline: none;
    vertical-align: middle;
    margin-right: 30px;
    margin-left: 30px;
    cursor: pointer;

    border: 1px solid #d1d4db;
}

/*表情选择框和常用语选择框 start*/
.emoj-box {
    width: 500px;
    height: 300px;
    /*必须和表情button的border相同*/
    background-color: #f6f6f8;

    position: absolute;
    top: -310px;
    left: -22px;

    z-index: 1001;
}

/*css实现三角形箭头*/
.chat-message-editor-inner .css-arrow-down-emoj {
    position: absolute;
    top: -3px;
    left: 6px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #979a91;
}

.emoj-box .emoj-list {
    width: 100%;
    height: 250px;
    overflow: auto;

    border-bottom: 1px solid #e0e0e0;
}

.emoj-box .emoj-list li {
    display: inline-block;
    cursor: pointer;
}

.emoj-box .emoj-list button {
    display: inline-block;
    /*width: 25px;*/
    /*height: 25px;*/

    box-sizing: content-box;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    background-size: 25px auto;

    /*消除按钮的默认熟悉*/
    outline: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: #f6f6f8;

    background-image: url("chat-emoji.png");
    background-repeat: no-repeat;

    border: 10px solid #f6f6f8;
}

.emoj-box .emoj-list button:hover {

    border: 10px solid #979a91;
}

/*表情列表 start*/
.emoj-box .emoj-list .default-emoj-01 {
    background-position: 0px 0px;
}

.emoj-box .emoj-list .default-emoj-02 {
    background-position: 0px -25px;
}

.emoj-box .emoj-list .default-emoj-03 {
    background-position: 0px -50px;
}

.emoj-box .emoj-list .default-emoj-04 {
    background-position: 0px -75px;
}

.emoj-box .emoj-list .default-emoj-05 {
    background-position: 0px -100px;
}

.emoj-box .emoj-list .default-emoj-06 {
    background-position: 0px -125px;
}

.emoj-box .emoj-list .default-emoj-07 {
    background-position: 0px -150px;
}

.emoj-box .emoj-list .default-emoj-08 {
    background-position: 0px -175px;
}

.emoj-box .emoj-list .default-emoj-09 {
    background-position: 0px -200px;
}

.emoj-box .emoj-list .default-emoj-9 {
    background-position: 0px -225px;
}

.emoj-box .emoj-list .default-emoj-10 {
    background-position: 0px -250px;
}

.emoj-box .emoj-list .default-emoj-11 {
    background-position: 0px -275px;
}

.emoj-box .emoj-list .default-emoj-12 {
    background-position: 0px -300px;
}

.emoj-box .emoj-list .default-emoj-13 {
    background-position: 0px -325px;
}

.emoj-box .emoj-list .default-emoj-14 {
    background-position: 0px -350px;
}

.emoj-box .emoj-list .default-emoj-15 {
    background-position: 0px -375px;
}

.emoj-box .emoj-list .default-emoj-16 {
    background-position: 0px -400px;
}

.emoj-box .emoj-list .default-emoj-17 {
    background-position: 0px -425px;
}

.emoj-box .emoj-list .default-emoj-18 {
    background-position: 0px -450px;
}

.emoj-box .emoj-list .default-emoj-19 {
    background-position: 0px -475px;
}

.emoj-box .emoj-list .default-emoj-20 {
    background-position: 0px -500px;
}

.emoj-box .emoj-list .default-emoj-21 {
    background-position: 0px -525px;
}

.emoj-box .emoj-list .default-emoj-22 {
    background-position: 0px -550px;
}

.emoj-box .emoj-list .default-emoj-23 {
    background-position: 0px -575px;
}

.emoj-box .emoj-list .default-emoj-24 {
    background-position: 0px -600px;
}

.emoj-box .emoj-list .default-emoj-25 {
    background-position: 0px -625px;
}

.emoj-box .emoj-list .default-emoj-26 {
    background-position: 0px -650px;
}

.emoj-box .emoj-list .default-emoj-27 {
    background-position: 0px -675px;
}

.emoj-box .emoj-list .default-emoj-28 {
    background-position: 0px -700px;
}

.emoj-box .emoj-list .default-emoj-29 {
    background-position: 0px -725px;
}

.emoj-box .emoj-list .default-emoj-30 {
    background-position: 0px -750px;
}

.emoj-box .emoj-list .default-emoj-31 {
    background-position: 0px -775px;
}

.emoj-box .emoj-list .default-emoj-32 {
    background-position: 0px -800px;
}

.emoj-box .emoj-list .default-emoj-33 {
    background-position: 0px -825px;
}

.emoj-box .emoj-list .default-emoj-34 {
    background-position: 0px -850px;
}

.emoj-box .emoj-list .default-emoj-35 {
    background-position: 0px -875px;
}

.emoj-box .emoj-list .default-emoj-36 {
    background-position: 0px -900px;
}

.emoj-box .emoj-list .default-emoj-37 {
    background-position: 0px -925px;
}

.emoj-box .emoj-list .default-emoj-38 {
    background-position: 0px -950px;
}

.emoj-box .emoj-list .default-emoj-39 {
    background-position: 0px -975px;
}

.emoj-box .emoj-list .default-emoj-40 {
    background-position: 0px -1000px;
}

.emoj-box .emoj-list .default-emoj-41 {
    background-position: 0px -1025px;
}

/*.emoj-box .emoj-list .default-emoj-42 {*/
/*background-position: 0px -1050px;*/
/*}*/

/*.emoj-box .emoj-list .default-emoj-43 {*/
/*background-position: 0px -1075px;*/
/*}*/

/*.emoj-box .emoj-list .default-emoj-44 {*/
/*background-position: 0px -1100px;*/
/*}*/

/*.emoj-box .emoj-list .default-emoj-45 {*/
/*background-position: 0px -1125px;*/
/*}*/

/*.emoj-box .emoj-list .default-emoj-46 {*/
/*background-position: 0px -1150px;*/
/*}*/

/*.emoj-box .emoj-list .default-emoj-47 {*/
/*background-position: 0px -1175px;*/
/*}*/

/*.emoj-box .emoj-list .default-emoj-48 {*/
/*background-position: 0px -1200px;*/
/*}*/

/*表情列表 end*/
.emoj-box .emoj-tab {
    width: 100%;
    height: 50px;
}

.emoj-box .emoj-tab span {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 10px 10px;
    margin-right: 20px;
    cursor: pointer;
}

.emoj-box .emoj-tab span:hover {
    background-color: #f1f1f1;
}


.emoj-box .emoj-tab i {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.emoj-box .emoj-tab .emoj-smile {
    background-image: url("V2_Expression__1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.emoj-box .emoj-tab .emoj-like {
    background-image: url("like.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.emoj-box .emoj-tab .emoj-dark {
    background-image: url("dark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.emoj-box .emoj-tab .emoj-bear {
    background-image: url("bear.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*常用语*/
.words-box {
    width: 400px;
    height: 180px;
    z-index: 1003;

    overflow: auto;

    background-color: #fff;

    position: absolute;
    top: -184px;
    left: 0px;

    color: #979a91;

    display: none;
}

.words-box ul li {
    padding: 5px 8px;
    height: 30px;
    /*width: 400px;*/
    line-height: 30px;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    cursor: pointer;


    border-top: 1px solid #f2f5fa;
}


.words-box ul li:hover {
    background-color: #e7fff5;
}

/*css实现三角形箭头*/
.chat-message-editor-inner .css-arrow-down-words {
    position: absolute;
    top: -3px;
    left: 53px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #979a91;

    display: none;
}

/*表情选择框和常用语选择框 end*/



