html, body {
    margin: 0px;
    padding: 0px;
    color: #414a60;
    font-size: 14px;
}

body {
    background-color: #f6f6f8;
    min-width: 1184px; /*很重要，使header的背景在网页缩小时不会出现不能横向覆盖整个宽度的状况*/
}

em {
    font-style: normal;
}

.icon-arrow-down, .btn-search, .icon-arrow-right, .icon-arrow-left, .icon-weibo, .icon-boss, .icon-wechat {
    display: inline-block;
    background-image: url("icons.png");
    background-repeat: no-repeat;
}

.icon-sms, .icon-phone {
    display: inline-block;
    background-image: url("icons-sign.png");
    /*background-repeat: no-repeat;*/
}

a {
    text-decoration: none;
    color: #414a60;
}

div, ul, li, a, p, dl, dd, span, img, dt，label {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

#wrap {
    min-width: 100%;
    position: relative;
    overflow: visible;
}

#header {
    background: #202329;
    width: 100%;
    height: 49px;
    position: relative;
}

#header a {
    color: #fff;
}

#header a:hover {
    color: #00c2b3;
}

#header a:active {
    color: #00c2b3;
}

.inner {
    /*margin-left: 100px;*/
    /*margin-right: 100px;*/
    margin: 0px auto;
    /*max-width: 1184px;*/
    width: 1184px;
    position: relative;
}

#logo {
    float: left;
    height: 49px;
    line-height: 49px;
    color: #414a60;
}

#logo a {
    display: block;
    width: 110px;
    height: 36px;
    background: url("logo-2x.png") no-repeat 5px 14px;
    background-size: 105px 19px;
}

#logo span {
    display: none;
}

#nav, #user-nav {
    float: left;
    height: 49px;
    margin-left: 15px;
    line-height: 49px; /*为什么会有上下居中功能呢？*/
    font-size: 0;

}

#nav, #user-nav a {

}

#user-nav {
    float: right;
}

#nav ul, #user-nav ul {
    display: inline-block;
    vertical-align: top;
}


#user-nav btns {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0px 14px;
}

#nav li, #user-nav li {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin: 0px 14px;
}

.nav-school-new::after {
    position: absolute;
    content: 'New';
    color: #fff;
    background: #ef505e;
    font-size: 12px;
    height: 14px;
    width: 30px;
    line-height: 13px;
    text-align: center;
    top: 8px;
    right: -24px;
    border-radius: 7px;
}

.user-nav-find-job::after {
    content: "hot";
    background-color: #ef505e;
    position: absolute;
    color: #fff;
    font-size: 12px;
    height: 14px;
    line-height: 13px;
    width: 30px;
    text-align: center;
    top: 8px;
    right: -24px;
    border-radius: 7px;
}

.btn {
    display: inline-block;
    min-width: 112px; /*有无此项，效果一样。那么，这个指令，存在的意义是什么？*/
    border: 1px solid #00c2b3;
}

#user-nav .btns .btn-outline {
    border-radius: 15px;
    height: 23px;
    min-width: 0px;
    line-height: 23px;
    text-align: center;
    font-size: 13px;
    padding: 0px 9px 0px 11px;
    margin-left: 17px;
}

.btn-outline {
    background-color: #202329;
}

.link-sign-resume {
    display: inline-block;
    position: relative;
    height: 23px;
    min-width: 0px;
    margin-left: 20px;
    font-size: 14px;
}

.user-nav-employ {
    display: inline-block;
    position: relative;
    height: 23px;
    min-width: 0px;
    margin-left: 25px;
    font-size: 14px;
}

/*主体部分*/
.job-box {
    /*float: left;*/
    margin-top: 30px;
}

.service-terms {

}

.resume-content {
    margin-right: 340px;
    min-height: 1500px;
    width: auto;

    border: 1px solid red;
}

.last-update {
    width: auto;
    height: 20px;
    padding: 30px 20px 10px 20px;
    background-color: #ffffff;

    border: 1px solid greenyellow;

    /*position: relative;*/
}

.update-time {
    float: left;
    /*position: absolute;*/
    /*left: 0px;*/
    /*top: 0px;*/

    font-size: 12px;
    color: #9fa3b0;

}

.review {
    float: right;
    /*position: absolute;*/
    /*right: 0px;*/
    /*top: 0px;*/

    cursor: pointer;
}

.edit-user-info-wrapper {
    padding: 20px 30px;
    margin: 0px -30px;

    height: 480px;

    position: relative;

    border: 1px solid greenyellow;
}

.item-label {
    margin-bottom: 10px;
}

.edit-user-info-wrapper input {
    display: inline-block;
    width: 100%;
    height: 30px;

    background-color: #fff;
    border: 1px solid #e3e7ed;

    outline: none;
}

.experience input {
    display: inline-block;
    width: 100%;
    height: 30px;

    background-color: #fff;
    border: 1px solid #e3e7ed;

    outline: none;
}

.form-item-all .select-ui {
    width: 100%;
    cursor: pointer;
    height: 30px;
    /*line-height: 20px;*/

    border: 1px solid #22ff40;
    background-color: #fff;

    position: relative;

    /*vertical-align:middle;*/
}

.form-item-all .select-ui .icon-arrow-down{
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 2px -54px;
    /*top: 12px;*/
    /*left: 27px;*/
    cursor: pointer;
    right: 0px;
    top: 8px;   /*有计算公式吗？我是肉眼观察调整出的数字*/
}

.select-ui input {
    /*display: inline-block;*/
    /*width: 100%;*/
    width: 20px;
    /*height: 30px;*/
    line-height: 20px;

    background-color: #fff;
    border: none;
    outline: none;
    /*border: 1px solid #e3e7ed;*/
    z-index: -1;

    outline: none;
}

.select-ui .select-tag {
    display: inline-block;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;

    border: 1px solid grey;
    border-radius: 10px;

    position: relative;
}


.ui-icon-close {
    width: 10px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    right: 2px;
    top: 5px;
}

.ui-icon-close::before {
    content: "\00D7";
}

.select-ui .select-ipt {
    display: inline-block;
    width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    line-height: 20px;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 2px;
}

.ui-select-dropdown {
    border: 1px solid royalblue;
    height: 200px;
    width: 100%;
    overflow: auto;

    display: none;
    /*style="display: none" 直接写在html中无效，原因未知*/
}

.ui-select-dropdown ul {
    padding: 10px 10px;
    height: 200px;
    width: 100%;

    border: 1px solid red;
}

.ui-select-dropdown .ui-select-item-selected {
    border: 1px solid #00c2b3;
    border-radius: 15px;

}

.experience .form-item-all textarea {
    display: inline-block;
    width: 100%;
    height: 100px;

    background-color: #fff;
    border: 1px solid #e3e7ed;

    outline: none;
}

.edit-user-info-wrapper .job-status {
    display: inline-block;
    width: 100%;
    height: 30px;

    background-color: #fff;
    border: 1px solid #e3e7ed;

    outline: none;

    line-height: 30px;

    padding-left: 10px;

    position: relative;

    cursor: pointer;
}

/*!*改变兄弟元素而不是改变自身*!   元素的隐藏，使用JS更容易实现*/
.form-item-all .select-ui:focus + .ui-select-dropdown {
    display: inline-block;
}

.edit-user-info-wrapper .job-status:hover {
    border: 1px solid #5dd5c8;
}

/*职场身份*/
.form-item .role {
    display: inline-block;
    width: 100%;
    height: 30px;

    background-color: #fff;
    border: 1px solid #e3e7ed;

    outline: none;

    line-height: 30px;

    padding-left: 10px;
}

.edit-user-info-wrapper .job-status .icon-arrow-right {
    position: absolute;
    width: 16px;
    height: 16px;

    background-position: 0px -51px;

    right: 6px;
    top: 8px;
}

.ui-dropdown-list {
    display: none;
}

.edit-user-info-wrapper span {
    display: inline-block;
    width: 100%;
}

.form-item {
    display: inline-block;
    width: 39%;
    height: 64px;
    padding: 0px 30px;
    margin-bottom: 30px;

    border: 1px solid blue;
}

.form-item-all {
    display: block;
    width: auto;
    height: auto;
    padding: 0px 30px;
    margin-bottom: 15px;

    border: 1px solid blue;
}

.edit-user-info-wrapper .form-btn {
    position: absolute;
    bottom: 0px;
    right: 93px;
}

.edit-user-info-wrapper .form-btn button {
    width: 100px;
    height: 30px;

    margin-right: 20px;
}

.edit-user-info-wrapper .form-btn button.cancel-btn {
    background-color: #fff;
    border: 1px solid #e3e7ed;

    outline: none;

    cursor: pointer;
}

.edit-user-info-wrapper .form-btn button.submit-btn {
    background-color: #5dd5c8;
    border: 1px solid #5dd5c8;

    outline: none;

    cursor: pointer;
}

.cancel-btn {
    background-color: #fff;
    border: 1px solid #e3e7ed;

    outline: none;

    cursor: pointer;
}

/*.submit-btn 无效*/
/*我认为，CSS选择器优先使用符合选择器*/
.item-form .btns .submit-btn {
    background-color: #5dd5c8;
    border: 1px solid #5dd5c8;

    outline: none;

    cursor: pointer;
}

.job-status-dropdown {
    position: relative;
}

/*1.span支持focus；2.改变兄弟元素而不是改变自身*/
.edit-user-info-wrapper .job-status:focus + .ui-dropdown-list {
    display: inline-block;
}

.ui-dropdown-list {
    position: absolute;
    top: 32px;
    left: 0px;
    width: 103%; /*为啥不能是100%?103是肉眼观察调出来的效果*/

    background-color: #fff;

    overflow: auto;
    border: 1px solid #22ff40;
    height: 150px;
}

/*优化滚动条，但不是想要的效果*/
/*::-webkit-scrollbar {*/
/*width: 6px;*/
/*height: 6px;*/
/*!*background-color: rgba(240, 240, 240, 1);*!*/
/*}*/
.ui-select-dropdown .ui-select-item {
    display: inline-block;
    width: 16%;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 20px;
    text-overflow: ellipsis; /*设置隐藏部分为省略号*/
    margin-left: 10px;

    padding-left: 10px;

    border: 1px solid red;
}

.ui-dropdown-list li {
    /*margin-top: 20px;*/
    padding: 10px 0px 10px 10px;
    cursor: pointer;
    /*display: inline-block;*/

    /*border: 1px solid red;*/
}

.ui-dropdown-list li.ui-select-item-selected {
    color: #5dd5c8;
}

.ui-dropdown-list li:hover {
    background-color: #e3e7ed;

    padding: 10px 0px 10px 10px;
}

.form-item .radio {
    display: inline-block;
    width: 150px;
    height: 30px;

    background-color: #fff;
    border: 1px solid #e3e7ed;

    text-align: center;
    line-height: 11px;
    /*vertical-align: text-top;*/

    cursor: pointer;
}

.form-item .radio:hover {
    /*display: inline-block;*/
    /*width: 150px;*/
    /*height: 35px;*/

    /*background-color: #4f30ff;*/
    border: 1px solid #5dd5c8;

    /*text-align: center;*/
    /*line-height: 12px;*/
    /*!*vertical-align: text-top;*!*/

    /*cursor: pointer;*/
}

.form-item .radio-checked {
    display: inline-block;
    width: 150px;
    height: 30px;

    background-color: #effbfa;
    border: 1px solid #5dd5c8;

    text-align: center;
    line-height: 11px;
    /*vertical-align: text-top;*/

    cursor: pointer;
}

.form-item .radio input[type=radio] {
    display: none;
}

.beauty-radio {
    display: inline-block;

}

.item-info {
    position: relative;
}

h4 {
    padding: 0;
    margin: 10px;
}

/*.item-info .item-txt {*/
/*white-space: pre-wrap; !*使用它后，div自带默认高度，为何？*!*/
/*padding: 0px 15px;*/
/*line-height: 20px;*/
/*}*/
/*第一次体会到组合选择器的好处。不必写冗余CSS代码。*/
.item-txt {
    /*white-space: pre-line; !*使用它后，div自带默认高度，为何？*!*/
    padding: 0px 15px;
    line-height: 20px;
}

.pre-line {
    white-space: pre-line; /*使用它后，div自带默认高度，为何？*/
}

.item-txt .title {
    font-size: 16px;
    font-weight: 500;
}

/*不满意这个标题的CSS，我希望它能使用和它的具体内容用同一套CSS代码实现*/
.position-name {
    font-size: 16px;
    font-weight: 700;

    margin-top: 20px;
    margin-left: 15px;
}

.item-txt span.txt-type {
    margin-right: 0px;

    font-size: 14px;
    font-weight: 600;
}

.item-txt span.txt-type::after {
    content: ':';
    padding-right: 10px;

}

.item-txt .work-period {
    font-size: 12px;
    color: #80919a;
}

.item-txt span {
    margin-right: 30px;
    display: inline-block;
}

.keywords {
    padding: 0px 15px;

    margin-top: 20px;
}

.keyword {
    width: auto;
    height: 10px;

    padding: 0px 15px;

    border: 1px solid #9fa3b0;

    border-radius: 10px;

    border: 1px solid #cfd1d7;
}

.experience {
    height: auto;
    width: 100%;
    /*padding: 10px 0px;*/
    margin-top: 30px;
}


/*.experience .item-info:hover {*/
    /*background-color: #8d92a1;*/
/*}*/

/*work-period*/

.item-info:hover {
    background-color: #8d92a1;
}

.icon-edit {
    position: relative; /*需加上定位，top等才有效*/
    top: 2px;

    display: inline-block;
    width: 16px;
    height: 16px;

    background-image: url("edit.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-delete {
    position: relative; /*需加上定位，top等才有效*/
    top: 2px;

    display: inline-block;
    width: 16px;
    height: 16px;

    background-image: url("delete.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.item-info .op {
    position: absolute; /*子元素使用relative，父元使用absolute，有效*/
    right: 15px;
    top: 0px;

    cursor: pointer;
}

.experience {
    position: relative;
}

/*有一次组合选择器的使用*/
.delete-op {
    position: absolute;
    top: 6px; /*与它左边的元素水平对齐。肉眼观察设置数据。很不满意这种实现方式。有自动对齐的方法吗？*/
    right: 15px;
}

/*不明白这里为啥用负数margin*/
.item-form {
    padding: 20px 30px;
    margin: 0px -30px;

    /*border: 1px solid green;*/

    position: relative;
}

.item-form .item-textarea {

    margin: 0px 60px;

    width: 100%;

    /*border: 1px solid red;*/
}

.item-form .item-textarea textarea {
    width: 80%;
    height: 100px;

    outline: none;

    color: #414a60;
    background-color: #fff;
}

.item-form .btns {
    /*margin-top: 20px;       !*使用absolute定位后，此熟悉失效。原因，不明*!*/

    position: absolute;
    bottom: -30px;
    right: 131px;
}

.item-form .btns button {
    margin-left: 30px;

    width: 100px;
    height: 30px;

    border: 1px solid #e3e7ed;
    background-color: #fff;

    cursor: pointer;

    outline: none;
}

.side-bar {
    float: right;
    width: 300px;
    padding: 0px 0px;
    position: relative;
    /*margin: 0px auto;*/
    /*text-align: center;*/
}

.side-bar .login-box {
    position: relative;
    width: 300px;
    height: 330px;
    background-color: #5dd5c8;
}


.side-bar .login-box .form-row {
    position: relative;
    width: 230px;
    height: 40px;
    line-height: 40px;
    margin: 25px auto;
    background-color: #f6f6f8;
    padding: 0px;
    text-align: center;
}


.side-bar .login-box .form-title {
    background: none;
    color: #f6f6f8;
    font-weight: 400;
    font-size: 16px;

}

.side-bar .login-box .login-btn {
    margin-bottom: 10px;
}

.login-register-btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #5dd5c8;
    font-size: 15px;
    color: #5dd5c8;
    outline: none;
    cursor: pointer;
}

.sms-code .ipt-sms {
    display: inline-block;
    width: 82%;
    height: 100%;
    margin: 0px;
    /*padding: 0px;*/
    padding-left: 40px;
    outline: none;
    border: none;
    overflow: hidden;
}

.sms-code .icon-sms {
    position: absolute;
    background-position: 1px -141px;
    width: 18px;
    height: 18px;
    top: 12px;
    left: 12px;
    z-index: 1;
}

.btn-send-sms {
    position: absolute;
    top: 1px;
    right: 15px;
}

.btn-send-sms .line {
    position: absolute;
    top: 4px;
    right: 80px;
    display: inline-block;
    width: 1px;
    height: 32px;
    background-color: #f2f2f5;
}

.btn-send-sms button {
    height: 40px;
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #5dd5c8;
    font-size: 15px;
    font-weight: 300;
    border: none;
    cursor: pointer;
}

.side-bar .login-box .agreement {
    text-align: center;
    font-size: 12px;
    color: #f2f2f5;
    font-weight: 300;
    /*position: absolute;*/
    /*left: 106px;*/
    /*bottom: 40px;*/
}

.side-bar .login-box .agreement a {
    color: #f2f2f5;

}

.side-bar .login-box {
    position: relative;
    width: 300px;
    border: 1px solid #5dd5c8;
}

.form-row .dropdown-select {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 40px;
    z-index: 1;
    font-size: 12px;
    font-style: normal;
}

.form-row .dropdown-select .icon-arrow-down {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 2px -54px;
    top: 12px;
    left: 27px;
    cursor: pointer;
}

.ipt-phone .ipt-phone-number {
    /*position: relative;*/
    display: inline-block;
    width: 130px;
    height: 40px;
    margin: 0px;
    padding-left: 100px; /*100 + 130 = 230，这样，才能让input总长度是230*/
    /*border: 1px solid greenyellow;*/
    border: none;
    outline: none;
    overflow: hidden;
}

.ipt-phone .icon-phone {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: 7px;
    background-position: 2px 1px;
    z-index: 2;
}

/*框中的元素，让里面的元素上下左右居中，有更好的方法？此处，使用肉眼观察调整数值。*/
/*.upload-btn {*/
    /*width: 300px;*/
    /*height: 80px;*/
    /*border: 1px solid #fff;*/
    /*margin: 20px auto;*/
    /*!*padding: 20px 10px;*!*/
    /*text-align: center;*/
    /*!*vertical-align: middle;*!*/
    /*padding-top: 40px;*/
    /*!*padding-bottom: 20px;*!*/
    /*background: #fff;*/
/*}*/

/*.upload-btn a {*/
    /*display: inline-block;*/
    /*width: 230px;*/
    /*height: 40px;*/
    /*!*border: 1px solid green;*!*/
    /*line-height: 40px;*/
    /*background: #5dd5c8;*/
    /*color: #f6f6f8;*/
    /*cursor: pointer;*/
/*}*/

.resume-attachment {
    width: 300px;
    height: auto;
    border: 1px solid #fff;
    margin: 20px auto;
    padding: 5px 10px;
    background: #fff;
    position: relative;
}

.resume-attachment li{
    margin-bottom: 10px;
}

.resume-attachment .upload-resume-btn{
    border: 1px solid;
    height: 30px;
    margin-top: 20px;

    background-color: #5dd5c8;
    color: #ffffff;
    text-align: center;
    line-height: 30px;

    cursor: pointer;
}

.annex-item {
    cursor: pointer;
    outline: none;
}

.annex-item .icon-file{
    vertical-align: middle;
}

.annex-item .resume-name{
    vertical-align: middle; /*不确定有没用，无法肉眼识别页面效果*/
}

.annex-item:focus + .annex-card{
    display: block;
}

/*用vue实现*/
/*.annex-item:hover + .annex-card{*/
    /*display: block;*/
/*}*/

.annex-item .icon-delete {
    float: right;
}

.annex-card {
    width: 350px;
    height: 140px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.15);  /*这个值是什么意思*/

    background: #fff;
    position: absolute;
    top: 60px;
    left: -350px;
    z-index: 10;

    /*display: block;*/
}

.annex-card .card-body {
    padding-left: 30px;
    margin-top: 10px;

    width: 320px;
    height: 80px;
    border-bottom: 1px solid darkgray;
}

.annex-card .card-footer span{
    float: right;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    margin: 10px 10px 10px 0px;
    cursor: pointer;

    /*border: 1px solid red;*/
}

.annex-card .card-body .card-img{
    float: left;
    width: 40px;
}

.annex-card .card-body .resume-name {
    margin-bottom: 10px;
}

.annex-card .card-body .upload-date{
    font-size: 10px;
    color: #8d92a1;
}

/*右侧广告*/
.ads {

}

.ads ul li {
    margin-bottom: 10px;
}

.ads ul li img {
    width: 100%;
}

/*工作列表*/
.job-list {
    display: block;
    margin-right: 340px;
}

.job-list ul li {
    /*width: 100%;*/
    /*background-color: #fff;*/
    border: 1px solid #fff;
    margin-bottom: 20px;
}

.job-list .primary-job-info {
    /*width: 100%;*/
    background-color: #fff;
}

.job-info-wrapper {
    float: left;
    width: 50%;
    height: 67px;
}

.company-wrapper {
    float: right;
    width: 50%;
    height: 67px;
}

.company-name {
    display: block;
    font-size: 15px;
    font-weight: 300;
    color: #5dd5c8;
}

.primary-job-info .job-name {
    display: block;
    font-size: 15px;
    font-weight: 300;
    color: #5dd5c8;
}

.primary-job-info .job-area {
    font-size: 14px;
}

.primary-job-info .job-name a {
    color: #5dd5c8;
}

.primary-job-info .job-jd {
    display: block;
    margin-top: 5px;
    font-size: 13px;
}

.primary-job-info .job-jd span {
    margin-right: 10px;
}

.primary-job-info .job-jd .salary {
    color: #fc6c38;
}

.primary-job-info .job-jd .employer img {
    width: 13px;
    height: 13px;
}

.grade {
    position: relative;

}

.job-jd .ages {
    /*margin-right: 0px;*/
    position: relative;
}

.job-jd .ages .line {
    position: absolute;
    top: 3px;
    right: -8px;
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #f2f2f5;
}

.employer span.title {
    margin-right: 0px;
}

.employer {
    position: relative;
    width: 100px;
    height: 30px;
    border: 1px solid #eee;
    padding: 0px 8px;
    text-align: center;
    border-radius: 15px;
    margin-left: 0px;
}

.employer .line {
    position: absolute;
    top: 4px;
    right: 72px;
    display: inline-block;
    width: 1px;
    height: 15px;
    background-color: #f2f2f5;
}

.primary-job-info {
    padding: 10px 30px;
    overflow: hidden;
}

.company-info {
    float: left;
}

.company-logo {
    float: right;
}

.append-job-info {
    height: 26px;
    padding: 10px 20px;
    font-size: 12px;
}

.append-job-info .tags {
    float: left;
    width: 50%;
}

.append-job-info .prize {
    float: left;
    width: 50%;
}

.append-job-info .tags span {
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 2px 5px;
}

.append-job-info .prize {
    float: right;
}

.company-logo img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #eef0f5;
}

.company-info .company-name {
    display: block;
}

.company-info .company-append-info {
    display: block;
    margin-top: 5px;
}

.company-info .company-append-info span {
    margin-right: 10px;
}

.company-info .company-append-info span:first-child {
    position: relative;
}

.company-info .company-append-info span:first-child .line {
    position: absolute;
    top: 4px;
    right: -3px;
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #f2f2f5;
}

.company-info .company-append-info span:nth-child(2) {
    position: relative;
}

.company-info .company-append-info span:nth-child(2) .line {
    position: absolute;
    top: 4px;
    right: -8px;
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #f2f2f5;
}

.page {
    margin-right: 0px;
    /*border: 1px solid greenyellow;*/
    height: 30px;
    line-height: 30px;
    padding: 0px 250px;
}

/*.page ul {*/
/*display: block;*/
/*margin-right: 340px;*/
/*border: 1px solid red;*/
/*height: 20px;*/
/*}*/

.page ul li {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 20px;
    vertical-align: middle;
    position: relative;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.page ul .pre {
    position: relative;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.page ul li.cur {
    border: 1px solid #5dd5c8;
    background-color: #5dd5c8;

}

.page ul li.cur a {
    color: #ffffff;
}

.page ul .next {
    position: relative;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.page ul .pre .icon-arrow-left {
    position: absolute;
    background-position: 9px -830px;
    width: 16px;
    height: 16px;
    /*border: 1px solid red;*/
    top: 3px;
    right: 11px;
    /*vertical-align: middle;*/
    /*text-align: center;*/
}

.page ul .next .icon-arrow-right {
    position: absolute;
    width: 16px;
    height: 16px;
    background-position: 4px -886px;
    left: 7px;
    top: 7px;
}

.pos-bread {
    margin-top: 20px;
    font-size: 13px;
    color: #9fa4b0;
    font-weight: 200;
}

.pos-bread a {
    font-size: 13px;
    color: #9fa4b0;
    font-weight: 200;
}

.pos-bread a:hover {
    text-decoration: underline;
}

#link-box {
    /*width: 1184px;  设置宽度后，margin:0 auto;居中效果不起作用*/
    height: 250px;
    background-color: #fff;
    margin-top: 20px;
    color: #9fa4b0;
    position: relative;

    /*border: 1px solid red;*/
}

.link-nav-wrapper {
    /*padding-left: 77px;*/
    height: 90px;
    width: 1184px;

    margin: 0px auto;

    /*border: 1px solid green;*/
}

.link-nav-wrapper .link-nav .cur {
    color: #5dd5c8;
}

.link-nav-wrapper span {
    float: left;
    display: inline-block;
    width: 25%;
    cursor: pointer;
}

.link-nav-wrapper .link-nav {
    height: 20px;
    font-size: 17px;
    padding-top: 17px;

}

.link-nav-wrapper .links {
    margin-top: 40px;
    height: 70px;

}

.link-nav-wrapper .links li {
    float: left;
    display: inline-block;
    width: 100px;
    height: 40px;
}

.link-nav-wrapper .links li a {
    color: #9fa4b0;
}

.link-nav-wrapper .links li a:hover {
    color: #5dd5c8;
}

.clear {
    clear: both;
}

.channel-introduce {
    /*padding-left: 77px;*/
    width: 1184px;
    margin: 0px auto;
}

/*footer*/

#footer {
    margin-top: 30px;
    height: 250px;
    width: 100%;
}

.service-term {
    width: 192px;
    float: left;
}

.service-term dd {
    margin-top: 20px;
}

.service-term dd a {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}

.service-term dd p {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    white-space: nowrap; /*一行文字过长，但是不换行显示*/
}

.copyright {
    margin-top: 20px;
    font-size: 12px;
    max-width: 960px;
    /*color: #eeeff3;*/
    /*background-color: #fff;*/
}

.copyright span {
    margin-right: 15px;
    display: inline-block;
    margin-top: 10px;
}

#footer a:hover {
    color: #5dd5c8;
}

.police {
    margin-top: 8px;
}

.police span {
    margin-right: 20px;
    font-size: 13px;
}

.footer-right-wrapper {
    text-align: right;
}

.footer-right-wrapper .tel p {
    line-height: 30px;
}

.footer-icon {
    margin-top: 20px;
    padding: 0px;
}

.icon-weibo, .icon-wechat, .icon-boss {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-left: 30px;

    border: 1px solid #9fa4b0;
}

.icon-weibo {
    background-position: 10px -190px;
}

.icon-wechat {
    background-position: 10px -254px;
}

.footer-icon .icon-wechat-img {
    display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -150px;
    right: -25px;

    background-color: #fff;
}

.footer-icon .wechat-qr {
    position: relative;
}

/*CSS元素改变子元素属性*/
a.wechat-qr:hover img {
    display: inline-block;
}

.icon-boss {
    background-position: 6px -313px;
}

/*.copyright span img无效*/
.copyright span img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    margin-bottom: -3px;
}

.footer-right-social {
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: right;
}

/*.footer-right-social img {覆盖面太广了，其他的图片样式设置无效*/
#footer-logo {
    width: 88px;
    height: 16px;
    margin: 6px 0px 10px 0px;
}

.footer-right-social p {
    font-size: 12px;
    text-align: right;
    padding: 0px;
    height: 24px;
    line-height: 24px;
}


/*显示个人信息*/
.user-profile {
    width: auto;
    height: 140px;
    background-color: #ffffff;

    border: 1px solid #22ff40;
}

.user-profile-inner {
    padding: 0px 20px;

    position: relative;
}

.user-profile-inner .user-info {
    display: flex;
}

.user-profile-inner .user-info-text {
    flex: 1;
}

.user-profile-inner .user-info-text span {
    margin: 0 0px;
}

.user-profile-inner .user-info-text p {
    line-height: 10px;
    font-size: 0;
}

.user-profile-inner .user-info-text p span {
    margin: 0 0px;
}

.user-profile-inner .user-info-text .before-line-first, .user-profile-inner .user-info-text .before-line {
    display: inline-block;
    max-width: 260px;
}

.user-profile-inner .user-info-text .before-line-first, .user-profile-inner .user-info-text .before-line {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    max-width: 230px;
    padding: 5px 0px;
    white-space: nowrap;

    overflow: hidden;

    font-size: 14px;
}

/*.user-profile-inner .user-info-text .before-line-first{*/
/*width: 100px;*/
/*}*/

.user-profile-inner .user-info-text .before-line::before {
    content: "";
    width: 1px;
    height: 12px;
    display: inline-block; /*必须有，否则，不显示*/
    vertical-align: middle;
    margin: 0 25px;
    background-color: #e0e0e0;
}

.user-profile-inner .user-info-avatar {
    flex: none;
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

.user-profile-inner .user-info-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.user-profile-inner .opt {
    position: absolute;
    right: 30px;
    bottom: 22px;

    cursor: pointer;
}
/*图标*/
.icon-experience,
.icon-degree,
.icon-status,
.icon-phone,
.icon-min-wechat,
.icon-email {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("icons-resume.f44cb025.png");
    background-repeat: no-repeat;
    vertical-align: middle;

    margin-right: 10px;

    /*border: 1px solid red;*/
}

.icon-experience{
    background-position: 0px -481px;

}
.icon-degree{
    background-position: 0px -510px;
}
.icon-status{
    background-position: -29px -481px;
}
.icon-phone{
    background-position: -29px -510px;
}
.icon-min-wechat{
    background-position: -31px -589px;
}
.icon-email{
    background-position: 0px -539px;
}


/*上传附件简历弹窗*/
#dialog-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    /*下面的值必须有，才能看到效果*/
    top: 0;
    left: 0;
}

#layer {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #8d92a1;
    opacity: 0.8;
    z-index: 1001;
}

#dialog-container {
    width: 350px;
    height: 420px;
    padding: 25px;
    margin: 0 auto;
    position: absolute;
    left: 600px;
    top: 70px;
    z-index: 1008;
    background-color: #ffff;
    color: #979a91;
    text-align: center;
}

#tip-first {
    padding: 100px 10px;
}

#tip-second {
    padding: 70px 80px;
    text-align: left;
}

#container-inner {
    width: 100%;
    height: 100%;

    position: relative;
}

#upload {
    height: 350px;

    border: 1px dashed #979a91;
}

#upload-btn {
    display: block;
    height: 40px;
    background-color: #5dd5c8;
    margin-top: 40px;

    position: relative;
}

#upload-btn input {
    height: 40px;
    width: 100%;
    background-color: black;
    opacity: 0%;
    cursor: pointer;
}

#upload-btn span {
    height: 40px;
    line-height: 40px;
    width: 100%;
    display: inline-block;

    font-size: 14px;
    color: #fff;
    text-align: center;

    position: absolute;
    top: 0px;
}

/*关闭按钮 start*/
#close {
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    right: -22px;
    top: -23px;
    cursor: pointer;
}

#close::before {
    content: "\00D7";
    font-size: 21px;
}

/*关闭按钮 end*/
